@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");

body {
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  display: flex;
  height: 95vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

main {
  img {
    margin: 20px;
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    input {
      outline: none;
      margin-bottom: 10px;
      display: block;
      padding: 10px 10px;
      border-radius: 50px;
      border: 1px solid rgb(37, 34, 34);

      &:focus {
        border: 1px solid slateblue;
      }
    }

    textarea {
      font-family: inherit;
      outline: none;
      margin-bottom: 10px;
      display: block;
      padding: 5px 10px;
      border-radius: 10px;
      border: 1px solid rgb(37, 34, 34);

      &:focus {
        border: 1px solid slateblue;
      }
    }

    button {
      width: 200px;
      height: 40px;
      background-color: #c689c6;
      border-radius: 50px;
      border: 1px solid rgb(37, 34, 34);
    }
  }
}
